
.lodgingRating{
    display: flex;
       flex-direction: row;
    align-items: center;
 
}

.lodgingRating img{
    transform: scale(.7);
    width: 30px;
    height: 30px;
}
@media (max-width: 740px) {
 
    .lodgingRating img{
        transform: scale(.8);
        width: 15px;
        height: 15px;
    }

}