.card {
  width: 340px;
  height: 340px;
  margin: 10px;
  padding-top: 20px;
  width: 100%;
  position: relative;
}
.cardImg {
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  background: #ff6060;
  width: 335px;
}
.cardImg:hover{
  box-shadow: 3px 3px 3px rgb(76, 76, 76);
}
.cardText {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 88.73%;
  bottom: 5.88%;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  color: #ffffff;
}
@media (max-width: 740px) {
  .card {
    height: 255px;
  }
  .cardImg:hover{
    box-shadow: 3px 3px 3px rgb(76, 76, 76);
  }
  .cardImg {
    height: 255px;
  }
}
