.header {
margin:  40px 100px 63px 100px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
header a img {
  /* width: 17%; */
  height: 68px;
}
header nav {
     display: flex;
 flex-direction: row;
 justify-content: space-between;

}
header nav a {

  font-size: 24px;
  color: #ff6060;
}
#Accueil{
  margin-right: 30px;
}
#about{
  margin-left: 30px;
}

header nav a:hover,
header nav a:active {
  /* line-height: 34px; */
  border-bottom: 1px solid #ff6060;
}
@media(max-width: 740px) {
    .header {
margin:  20px 20px 12px 20px ;
    }
    header a img {
        width: 100%;
      max-width: 145px;
min-height: 47px;
    }
    header nav a {
  margin-right: 10px;
  font-size: 12px;
    }
    #Accueil{
  margin-right: 5px;
}
#about{
  margin-left: 5px;
}
}