.footer 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  height: 209px;
  margin-bottom: 0;
  background-color: #000000;
  color: #ffffff;
  margin: 0%;
 
}

  .Reserved {
    font-size: 12px;
  }


@media (min-width: 740px) {
  .footer {
  width: 100%;
 }
    .Reserved {
      font-size: 24px;
    }

}