.bannerHome {
  position: relative;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  height: 111px;
  width: 96%; }
  .bannerBg {
    
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 336px;
    height: 100%;
    background: black;
    opacity: 0.3;
    border-radius: 10px;
    
  }
  .bannerImg {
  
    object-fit: cover;
    width: 100%;
    height: 111px;
    background: #f7f7f7;
    border-radius: 10px;
 }
  .banner-text {
    line-height: 24px;
    position: absolute;
    top: 10%;
    width: 40%;
    justify-content: center;
    font-size: 24px;
    color: #f7f7f7;
    max-width: 95%;
    margin-right:  10%;
    padding-left: 45px;
  }


.bannerAbout {
  position: relative;
  width: 98%;
  max-width: 1240px;
  height: 223px;
  margin: 1%; }
  .aboutImg {
    border-radius: 10px;
   min-width: 336px;
    width:100% ;
    height: 100%;
    object-fit: cover;
 
   
  }
 


@media (min-width: 740px) {
  .bannerHome {
    margin: 1%;
    height: 223px;
    text-align: center;
    width: 98%;
  }
 .bannerImg {
      height: 223px;
    }
    .banner-text {
      font-size: 48px;
      line-height: 200%;
      width: 100%;
      padding: 0;
    }
    .bannerAbout{
      margin: 0 100px;
      width: 80%;
    }
  }
